*.iml
.idea/

bird.png chickenman.png cougar.jpg fish.png forest-background.jpg frontend-halfday2-showhide-game-rdunavant.iml jquery-3.3.1.js rabbit.png README.md showhide.css showhide.html showhide.js .iml
.idea
